.split {
    height: 70%;
    width: 20%;
    position: fixed;
    overflow-x: hidden;
    }

  .split1 {
    height: 70%;
    width: 80%;
    position: fixed;
    overflow-x: hidden;
  }
  
  /* Control the left side */
  .left {
    left: 0;
    background-color: rgb(248, 168, 201);
  }
  
  /* Control the right side */
  .right {
    right: 0;
    background-color: rgb(115, 206, 241);
  }
  
  /* If you want the content centered horizontally and vertically */
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .p{
      color: #000;
  }
  tr,td {
    border: 1px solid black;
  }
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    color: black;
    text-align: center;
  }